<div class="breadcrumb">
  <a class="mr-2" href="/users/index">Home</a> /
  <a class="ml-2" href="/users/profile">Profile</a>/
  <a class="ml-2" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
       <ul class="dropdown-menu">
         <li class="nav-item">
           <a class="nav-link" href="/deposit/index">Deposit reports</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/account/index">Account report</a
           >
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/pay/index">Loan payment reports</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/loan/index">Loan Request reports</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/users/claimedinterest">interests claims reports</a>
         </li>
       </ul>
</div>
